discord.py
asyncio
Status
PyNaCl
config
youtube_dl
environ
lxml
asyncio
datetime
requests
cleverwrap
utils
aiohttp
websockets
BeautifulSoup4
bs4
datetime
Discord
praw
moviepy==1.0.1
oauth2client==4.1.3
google_auth_oauthlib==0.4.1
numpy==1.18.1
imageio==2.4.1
google_api_python_client==1.10.0
matplotlib==3.3.0
Pillow==8.1.1
protobuf==3.12.2
